.caja {
    flex-direction: column;
    align-self: flex-start;
    width: 50%;
    height: 50%;
    position: absolute;
    border-left-width: 1.5px;
    border-right-width: 1.5px;
    border-top-width: 1.5px;
    border-bottom-width: 1.5px;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
}
